# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
ComprasColetivas.ncrunchsolution
ComprasColetivas.ncrunchsolution.user
ComprasColetivas.suo
# mstest test results
TestResults