<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
 <configSections>
  </configSections>
  <connectionStrings>
    <add name="ComprasColetivas.Infrastructure.NHibernateHelper.Properties.Settings.ConnectionStringSQLServer"
      connectionString="Data Source=HELENO-PC\SQLEXPRESS;Initial Catalog=SCC;Integrated Security=True;Persist Security Info=False"
      providerName="System.Data.SqlClient" />
    <add name="ComprasColetivas.Infrastructure.NHibernateHelper.Properties.Settings.ConnectionStringOracle"
      connectionString="Data Source=XE;User ID=SCC;Password=SCC;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="ComprasColetivas.Infrastructure.NHibernateHelper.Properties.Settings.ConnectionStringSQLCE"
      connectionString="Data Source=C:\SCC\SQLCEDB\SCC.sdf;Password=scc;Persist Security Info=True"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>